<header>
    <div class="w3-container w3-blue-grey w3-display-container">
        <div class="w3-animate-left w3-dislay-left">
            <p class="w3-text-light-grey w3-large w3-monospace" style="text-shadow: 1px 1px gray;">
                &lt;RinaldoDEV/&gt;
            </p>
        </div>
        <div class="w3-display-right w3-margin-right"><a href="{{ url_for('index')}}" style="text-decoration:none">
                <p class="w3-text-light-grey w3-monospace w3-large ">Home</p>
            </a>

            </a>
        </div>
</header>