<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Meus Projetos</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/static/favicon/favicon.ico">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <style>
        body,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            font-family: Montserrat, sans-serif;
        }

        .remexe:hover {
            animation: pulse 1s;
        }
    </style>
</head>

<body class="w3-flat-midnight-blue">
    {% block content %} {% endblock %}
    <footer class="w3-flat-midnight-blue w3-container w3-padding">
        <!--Informações de contato, redes sociais e link para a página de formulário-->
        <div class="w3-content w3-block">
            <div class="w3-quarter w3-hide-small w3-container"></div>
            <div class="w3-half w3-container">
                <div class="w3-center w3-padding w3-auto">
                    <h3>&lt;RinaldoDEV/&gt;</h3>
                    {% block footer %} {% endblock %}
                </div>
            </div>
            <div class="w3-quarter w3-hide-small w3-container"></div>
        </div>
    </footer>
</body>

</html>