<div class="w3-block w3-justify w3-container">
    <h2 class="w3-xlarge"><i>Comunidade</i></h2>
    <div class="w3-card w3-padding w3-hover-blue-grey w3-round">
        <a href="#" class="w3-left w3-margin-right"><i class="bi bi-youtube w3-xxlarge"></i></a>
        <p>Acesse o nosso Youtube agora</p>
    </div>
    <div class="w3-card w3-padding w3-hover-blue-grey w3-round">
        <a href="#"><i class="bi bi-discord w3-left w3-margin-right w3-xxlarge"></i></a>
        <p>Acesse a nossa comunidade</p>
    </div>
</div>